{% extends "base.html" %}
{% block login %}
<div class="container w-50 shadow mt-4 p-4 bg-light">
    <form action="/login" method="post">
        <input type="text" class="form-control mb-2" name="username" placeholder="Логин" required>
        <input type="password" class="form-control mb-2" name="password" placeholder="Пароль" required>
        <button class="btn btn-outline-dark form-control mb-2" type="submit">Войти</button>
        <a href="/registration" class="btn btn-outline-dark form-control" type="submit">Регистрация</a>
    </form>
</div>
{% endblock %}